.web3__cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 4rem;
    border-radius: 10px;
    background: rgb(199,6,236);
    background: linear-gradient(190deg, rgba(199,6,236,1) 0%, rgba(35,54,43,1) 53%, rgba(200,129,77,1) 100%);
    box-shadow: 0 4px 10px rgba( 0, 0, 0. .9); 
    
}

.web3__cta-content p {
    font-size: 25px;
    line-height: 30px;
    color: #FF8A71;
}

.web3__cta-content h3 {
    font-weight: 800;
    font-size: 28px;
}

.web3__cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    
}

.web3__cta-btn button{
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 40px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    border-style: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
    background: #000;
    box-shadow: 0 2px 8px rgba( 0, 0, 0. .3); 
}


@media screen and (max-width: 650px) {
    .web3__cta{
        flex-direction: column;
    }

    .web3__cta-btn{
        margin: 1rem 0 0 ;
    }
}

@media screen and (max-width: 550px) {
    .web3__cta{
        margin:4rem 2rem ;
    }

    .web3__cta-content h3 {
        font-size: 20px;
        line-height: 32px;
    }

    .web3__cta-btn button {
        font-size: 16px;
        line-height: 28px;
    }

}